.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e5e8;
    border-radius: 16px;
    height: 105px;
    width: calc((100% - 100px) / 6);
    text-decoration: none;
}
.tile:hover {
    border: 1px solid #0271e1;;
}

.img {
    display: block;
    width: 30px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: #0271e1;
    margin-top: 5px;
    padding: 0 10px;
    text-align: center;
    line-height: 24px;
}


@media (max-width: 960px) {
    .tile {
        width: calc((100% - 120px) / 4);
    }
}

@media (max-width: 600px) {
    .tile {
        width: calc((100% - 4%) / 2);
    }
    .text {
        font-size: 14px;
    }
}