.holder {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 960px) {
    .holder {
        column-gap: 40px;
        row-gap: 20px;
    }
}

@media (max-width: 600px) {
    .holder {
        column-gap: 4%;
        row-gap: 25px;
    }
}